<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libTUIO11" version="1.1.5" targetFramework="net451" />
  <package id="TaskScheduler" version="2.5.23" targetFramework="net451" />
  <package id="TCD.System.ApplicationExtensions" version="1.1.0" targetFramework="net451" />
  <package id="TCD.System.TouchInjection" version="1.0.0" targetFramework="net451" />
</packages>